@use '../../base/colors' as *;

.error404-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    
    h1 {
        font-weight: bold;
        font-size: 1.9rem;
        color: #B6465F;
    }

    h2 {
        color: $OxfordBlue;
    }

    img {
        width: 17rem;
        margin: 2rem 0;
    }
}

@media (min-width: 47rem) {
    .error404-container {
        img {
            width: 25rem;
        }
    }
}