@use '../../base/colors' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    background: $MiddleBlue;
}

.CMS-logo-container {
    display: flex;
    margin-left: 2rem;
}

.CMS-logo {
    width: 65px;
}

.hamburger-and-mobilenav-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hamburger-menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    background: $Indigo;
    margin-right: 2rem;
    height: 100%;

    &:hover {
        cursor: pointer;
    }

    span {
        width: 40px;
        height: 5px;
        background: $Snow;
        margin: 3px 0;
        border-radius: 30px;
    }
}

@media (min-width: 47rem) {
    header {
        height: 7rem;
    }

    .CMS-logo-container {
        justify-self: flex-start;
    }

    .CMS-logo {
        width: 80px;
    }
}