@use "../../base/colors" as *;

.edit-course-title {
    padding: 0.1rem 0.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: inherit;
}

.trash-icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.8rem;

    &:hover {
        cursor: pointer;
    }
}

.course-edit-form-fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid $OxfordBlue;
    border-radius: 8px;
    width: 100%;
}

.edit-form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;

    input,
    select {
        width: 90%;
        height: 2rem;
        margin: 0.5rem;
        padding-left: 0.5rem;
        border: none;
        border-radius: 8px;
        font-size: 1.2rem;
        font-family: inherit;
    }
}

.edit-class-fieldset {
    @extend .course-edit-form-fieldset;

    align-items: center;
    width: 90%;
    padding: 1rem 0.1rem;
    border: 2px solid $MiddleBlue;
    border-radius: 20px;

    legend {
        margin-left: 0.8rem;
    }

    input {
        // width: 90%;
    }
}

.add-class-btn {
    display: flex;
    justify-content: center;
    width: 95%;
    margin-bottom: 1rem;
    padding: 1rem;
    background: rgb(7, 53, 99);
    background: linear-gradient(
        160deg,
        rgba(7, 53, 99, 1) 0%,
        rgba(4, 57, 94, 1) 53%,
        rgba(4, 57, 94, 1) 62%,
        rgba(7, 53, 99, 1) 99%
    );
    border: none;
    border-radius: 16px;
    box-shadow: 1px 1px 5px $Indigo;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.edit-student-in-class-fieldset {
    @extend .edit-class-fieldset;

    align-items: center;
    // width: 100%;
    padding-bottom: 0;

    select {
        // margin-bottom: 1rem;
    }
}

.student-delete-btn-container {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.student-select {
    margin-left: 0.5rem;
}

.delete-student {
    &:hover {
        cursor: pointer;
    }
}

.student-in-class {
    width: 80%;
    padding: 0 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background: $MiddleBlue;
    color: $OxfordBlue;
    box-shadow: 1px 1px 5px $Indigo;

    p {
        width: 90%;
        overflow-wrap: break-word;
    }
}

.add-student-btn {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 1rem 0;
    padding: 0.2rem;
    background: #2d898b;
    border: none;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.invalid-input {
    outline: 3px solid $Crimson;
}

.invalid-fieldset {
    border: 3px solid $Crimson !important;
    color: $Crimson !important;
    // width: 60%;

    legend {
        font-weight: bold;
    }
}

.invalid-fieldset-message {
    text-align: center;
    margin: 0 0 1rem;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}
